In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Load city data
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-11-21 18:39:02,42.0970,-79.2353,39.18,34,0,19.57
1,1,San Jose,US,2022-11-21 18:40:06,37.3394,-121.8950,64.42,49,75,5.01
2,2,Flinders,AU,2022-11-21 18:40:46,-34.5833,150.8552,53.19,58,2,11.99
3,3,Sibu,MY,2022-11-21 18:40:47,2.3000,111.8167,77.31,88,40,5.01
4,4,Mataura,NZ,2022-11-21 18:40:47,-46.1927,168.8643,50.49,84,57,3.06

In [3]:
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmpas to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]

# Get the maximum temp
max_temp = city_data_df['Max Temp']
# Remove negative temps
temps = [max(temp,0) for temp in max_temp]

# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.75)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = [max(temp,0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=humidity,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=clouds,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Windspeed
locations = city_data_df[['Lat','Lng']]
wind_speed = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=wind_speed,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the custopmer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fir the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Sibu,MY,2022-11-21 18:40:47,2.3000,111.8167,77.31,88,40,5.01
5,5,Kapaa,US,2022-11-21 18:40:48,22.0752,-159.3190,77.47,77,100,19.57
7,7,Georgetown,MY,2022-11-21 18:40:49,5.4112,100.3354,82.24,88,40,2.30
9,9,Honiara,SB,2022-11-21 18:40:50,-9.4333,159.9500,76.21,84,56,5.55
19,19,Vaini,TO,2022-11-21 18:40:56,-21.2000,-175.2000,75.36,88,40,3.44
29,29,Avarua,CK,2022-11-21 18:41:03,-21.2078,-159.7750,75.25,69,75,9.22
30,30,Saint-Paul,RE,2022-11-21 18:36:55,-21.0096,55.2707,75.31,79,1,11.63
31,31,Charters Towers,AU,2022-11-21 18:41:05,-20.1000,146.2667,80.60,27,100,8.61
32,32,Mahebourg,MU,2022-11-21 18:41:06,-20.4081,57.7000,75.25,83,20,3.44
48,48,Castro,BR,2022-11-21 18:42:18,-24.7911,-50.0119,79.93,43,100,8.19

In [12]:
preferred_cities_df.count()

City ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [14]:
# Create a dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3              Sibu      MY     77.31   2.3000  111.8167
5             Kapaa      US     77.47  22.0752 -159.3190
7        Georgetown      MY     82.24   5.4112  100.3354
9           Honiara      SB     76.21  -9.4333  159.9500
19            Vaini      TO     75.36 -21.2000 -175.2000
29           Avarua      CK     75.25 -21.2078 -159.7750
30       Saint-Paul      RE     75.31 -21.0096   55.2707
31  Charters Towers      AU     80.60 -20.1000  146.2667
32        Mahebourg      MU     75.25 -20.4081   57.7000
48           Castro      BR     79.93 -24.7911  -50.0119

In [23]:
# Iterate through hotel_df
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f'{lat},{lng}'
    
    # Use the search term: "lodging" in our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url,params=params).json()
    
    #Grab the first hotel form the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Sibu,MY,77.31,2.3000,111.8167,RH HOTEL (4 Star)
5,Kapaa,US,77.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Georgetown,MY,82.24,5.4112,100.3354,Cititel Penang
9,Honiara,SB,76.21,-9.4333,159.9500,Heritage Park Hotel
19,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
29,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
30,Saint-Paul,RE,75.31,-21.0096,55.2707,Boucan Canot
31,Charters Towers,AU,80.60,-20.1000,146.2667,Cattleman's Rest Motor Inn
32,Mahebourg,MU,75.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
48,Castro,BR,79.93,-24.7911,-50.0119,CHACARA BAILLY

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# Store the dataframe row.
hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations,
                                weights = max_temp,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))